body {
  background: #f6f7f9;
}

.body-content {
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

input,
select,
textarea {
  max-width: 320px;
}

.table-responsive {
  max-width: 900px;
}

.small.text-muted {
  max-width: 900px;
}
